/* MostWantedGD
 *
 * POPUP CSS
 *
 * This is shown in an iframe
 *
 * Author: Nick Flowers
 * Date: 4/24/18
 */

#popupHeader {
	width:100%;
	background-color:#ffffff;
	background: linear-gradient(#eeeeee, #cccccc);
}
#popupHeaderImage {
	width:20%;
}
#popupHeaderElements li{
	display:inline-block;
}
#popupVideo {
	display:block;
	margin:auto;
	width:70vw;
	height:calc(70vw * (9/16));
}